

html, body {
  height: 50%;
  width: 100%;
  padding:5px;
  border:1px;
  border-radius: 15px;
  margin: 1px;
  
}
h1 {
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2;
  border-radius: 5px;
  text-align: center;
}
form {
  padding-top:10px;
  text-align: center;
  background-color: #f1f1;
  
}
label {
  padding: 5px 5px;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  
}
button{
  border: 1px solid greenyellow;
  
}
input, select {
  padding: 2px;
  border: 5px solid blue;
  text-align: center;
}
